---
import "@styles/main.scss";
import Navbar from "@components/global/Navbar.astro";
import Footer from "@components/global/Footer.astro";
import MedicalDisclaimer from "@components/global/MedicalDisclaimer.astro";
import { getLangFromUrl } from "../i18n/utils";
import { ClientRouter } from "astro:transitions";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=3" sizes="any" />
    <link rel="mask-icon" href="/favicon.svg?v=3" color="#4BC873" />
    <link rel="shortcut icon" href="/favicon.svg?v=3" />
    <meta name="theme-color" content="#4BC873" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>

    <ClientRouter />
  </head>
  <body>
    <Navbar />

    <main>
      <slot />
    </main>

    <MedicalDisclaimer />
    <Footer />
  </body>
</html>
