---
import AlertIcon from "../icons/AlertIcon.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="medical-disclaimer">
  <div class="content">
    <div class="icon"><AlertIcon size={32} /></div>
    <h3>{t("disclaimer.title")}</h3>
    <p>
      {t("disclaimer.text")}
    </p>
  </div>
</section>

<style lang="scss">
  @use "../../styles/config/variables" as *;
  @use "../../styles/config/mixins" as *;

  .medical-disclaimer {
    background-color: #f0f7ff;
    padding: 4rem 1rem;
    width: 100%;
    margin-top: auto;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2d3436;
    margin: 0;
    font-family: var(--font-title);
  }

  p {
    color: #636e72;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 600px;
    margin: 0;
  }
</style>
